In [ ]:

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Install Spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.3/spark-3.0.3-bin-hadoop3.2.tgz

# Unzip the Spark file to the current folder
!tar xf spark-3.0.3-bin-hadoop3.2.tgz

# Install findspark
!pip install -q findspark

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop3.2"

# Start a SparkSession
import findspark
findspark.init()

# Import SparkSession
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Test Spark
df = spark.createDataFrame([{"hello": "world"} for x in range(1000)])
df.show(3)

/content/spark-3.0.3-bin-hadoop3.2/python/pyspark/sql/session.py:381: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

In [ ]:
df = spark.read.csv('/content/Online Retail.csv',header=True,escape="\"")
df.show(5,0)

+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|CustomerID|Country       |
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |6       |12/1/2010 8:26|2.55     |17850     |United Kingdom|
|536365   |71053    |WHITE METAL LANTERN                |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
|536365   |84406B   |CREAM CUPID HEARTS COAT HANGER     |8       |12/1/2010 8:26|2.75     |17850     |United Kingdom|
|536365   |84029G   |KNITTED UNION FLAG HOT WATER BOTTLE|6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
|536365   |84029E   |RED WOOLLY HOTTIE WHITE HEART.     |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

In [ ]:
my_list = [['a', 1, 2], ['b', 2, 3],['c', 3, 4]]
col_name = ['A', 'B', 'C']
spark.createDataFrame(my_list, col_name).show()
import pandas as pd
df=pd.DataFrame(my_list,columns= col_name)
print(df)

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+

   A  B  C
0  a  1  2
1  b  2  3
2  c  3  4

In [ ]:
df=pd.DataFrame(my_list,col_name)
print(df)

   0  1  2
A  a  1  2
B  b  2  3
C  c  3  4

In [ ]:
import pandas as pd
# df = spark.createDataFrame(pandas_df.toPandas())
# Creating pandas dataframe first
l = [["2015-06-23", 5]
 ,["2016-07-20", 7]] #List with data elements
df = spark.createDataFrame(pd.DataFrame(l),['data_date','months_to_add'])
df.show()

/content/spark-3.0.3-bin-hadoop3.2/python/pyspark/sql/pandas/conversion.py:327: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

In [ ]:
# Import spark libraries
from pyspark.sql import Row, DataFrame
from pyspark.sql.types import StringType, StructType, StructField, IntegerType
# create RDD to load into spark dataframe
l = [["2015-06-23", 5] , ["2016-07-20", 7]] #List with data elements
rdd1 = spark.sparkContext.parallelize(l)
row_rdd = rdd1.map(lambda x: Row(x[0], x[1]))
df = spark.createDataFrame(row_rdd, ['data_date', 'months_to_add'])
df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

In [ ]:
# Import spark libraries
from pyspark.sql import Row, DataFrame
from pyspark.sql.types import StringType, StructType, StructField, IntegerType
# create RDD to load into spark dataframe
l = [["2015-06-23", 5],["2016-07-20", 7]] #List with data elements
rdd1 = spark.sparkContext.parallelize(l)
schema = StructType([ StructField("data_date", StringType(), True),
StructField("months_to_add", IntegerType(), True)]) # Col, Type, Nullable
df = spark.createDataFrame(rdd1, schema)
df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

In [ ]:
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
rdd=spark.sparkContext.parallelize(dataList)
rdd.collect()

[('Java', 20000), ('Python', 100000), ('Scala', 3000)]

In [ ]:
rdd2 = spark.sparkContext.textFile("C:\spark\text1.txt")
df1=spark.read.text("/text1.txt")
df1.show()

In [ ]:
# importing necessary libraries
from pyspark.sql import SparkSession
# function to create new SparkSession
def create_session():
 spk = SparkSession.builder \
 .appName("Corona_cases_statewise.com") \
 .getOrCreate()
 return spk
# function to create RDD
def create_RDD(sc_obj, data):
 df = sc.parallelize(data)
 return df
 # function to convert RDD to dataframe
def RDD_to_df(df,schema):
# converting RDD to dataframe using toDF() in which we are passing schema of df
 df3 = rd_df.toDF(schema)
 return df3
if __name__ == "__main__":
 input_data = [("Dhaka", 122000, 89600, 12238), ("Khulna", 454000, 380000, 67985),
 ("Rangpur", 115000, 102000, 13933),("Bogra", 147000, 111000, 15306),
 ("Rajshahi", 153000, 124000, 5259)]
 # calling function to create SparkSession
 spark = create_session()
 # creating spark context object
 sc = spark.sparkContext
 # calling function to create RDD
 rd_df = create_RDD(sc, input_data)
 # printing the type
 print(type(rd_df))

<class 'pyspark.rdd.RDD'>

In [ ]:
# function to convert RDD to dataframe
def RDD_to_df(spark,df,schema):
# converting RDD to df using createDataframe()
# in which we are passing RDD and schema of df
 df1 = spark.createDataFrame(df,schema)
 return df1

schema_lst = ["State","Cases","Recovered","Deaths"]
# calling function to convert RDD to dataframe
converted_df = RDD_to_df(spark,rd_df,schema_lst)
# visualizing the schema and dataframe
converted_df.printSchema()
converted_df.show()


# function to convert RDD to dataframe
def RDD_to_df(df,schema):
# converting RDD to dataframe using toDF()
# in which we are passing schema of df
 df = rd_df.toDF(schema)
 return df

schema_lst = ["State","Cases","Recovered","Deaths"]
# calling function to convert RDD to dataframe
converted_df = RDD_to_df(rd_df,schema_lst)
# visualizing the schema and dataframe
converted_df.printSchema()
converted_df.show()

root
 |-- State: string (nullable = true)
 |-- Cases: long (nullable = true)
 |-- Recovered: long (nullable = true)
 |-- Deaths: long (nullable = true)

+--------+------+---------+------+
|   State| Cases|Recovered|Deaths|
+--------+------+---------+------+
|   Dhaka|122000|    89600| 12238|
|  Khulna|454000|   380000| 67985|
| Rangpur|115000|   102000| 13933|
|   Bogra|147000|   111000| 15306|
|Rajshahi|153000|   124000|  5259|
+--------+------+---------+------+

root
 |-- State: string (nullable = true)
 |-- Cases: long (nullable = true)
 |-- Recovered: long (nullable = true)
 |-- Deaths: long (nullable = true)

+--------+------+---------+------+
|   State| Cases|Recovered|Deaths|
+--------+------+---------+------+
|   Dhaka|122000|    89600| 12238|
|  Khulna|454000|   380000| 67985|
| Rangpur|115000|   102000| 13933|
|   Bogra|147000|   111000| 15306|
|Rajshahi|153000|   124000|  5259|
+--------+------+---------+------+

In [ ]:

data = [1, 2, 3, 4]
rdd = spark.sparkContext.parallelize(data)
rdd_transformed = rdd.map(lambda x: x * 2)
rdd_transformed.collect()

from pyspark.sql import SparkSession
# Create a SparkSession
spark = SparkSession.builder.appName("map_example").getOrCreate()
# Create a DataFrame with sample data
data = [("Alice", 1), ("Bob", 2), ("Charlie", 3)]
df = spark.createDataFrame(data, ["name", "age"])
# Define a function to be applied to each row
def add_one(age):
 return age + 1
# Use the map() transformation to apply
# the function to the "age" column
df = df.rdd.map(lambda x: (x[0], add_one(x[1]))).toDF(["name", "age"])
# Show the resulting DataFrame
df.show()

+-------+---+
|   name|age|
+-------+---+
|  Alice|  2|
|    Bob|  3|
|Charlie|  4|
+-------+---+

In [ ]:
data = ["Project Gutenberg’s",
 "Alice’s Adventures in Wonderland",
 "Project Gutenberg’s",
 "Adventures in Wonderland",
 "Project Gutenberg’s"]
rdd=spark.sparkContext.parallelize(data)
for element in rdd.collect():
 print(element)

Project Gutenberg’s
Alice’s Adventures in Wonderland
Project Gutenberg’s
Adventures in Wonderland
Project Gutenberg’s

In [ ]:
rdd2=rdd.flatMap(lambda x: x.split(" "))
for element in rdd2.collect():
 print(element)

Project
Gutenberg’s
Alice’s
Adventures
in
Wonderland
Project
Gutenberg’s
Adventures
in
Wonderland
Project
Gutenberg’s

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pyspark-by-examples').getOrCreate()
arrayData = [
 ('James',['Java','Scala'],{'hair':'black','eye':'brown'}),
 ('Michael',['Spark','Java',None],{'hair':'brown','eye':None}),
 ('Robert',['CSharp',''],{'hair':'red','eye':''}),
 ('Washington',None,None),
 ('Jefferson',['1','2'],{})]
df = spark.createDataFrame(data=arrayData, schema = ['name','knownLanguages','properties'])
from pyspark.sql.functions import explode
df2 = df.select(df.name,explode(df.knownLanguages))
df2.printSchema()
df2.show()

root
 |-- name: string (nullable = true)
 |-- col: string (nullable = true)

+---------+------+
|     name|   col|
+---------+------+
|    James|  Java|
|    James| Scala|
|  Michael| Spark|
|  Michael|  Java|
|  Michael|  null|
|   Robert|CSharp|
|   Robert|      |
|Jefferson|     1|
|Jefferson|     2|
+---------+------+

In [ ]:
# importing necessary libraries
from pyspark.sql import SparkSession
# function to create SparkSession
def create_session():
 spk = SparkSession.builder .master("local").appName("Student_report.com").getOrCreate()
 return spk
def create_df(spark, data, schema):
 df1 = spark.createDataFrame(data, schema)
 return df1
if __name__ == "__main__":
 # calling function to create SparkSession
 spark = create_session()
 input_data = [(1, "Shivansh", "Male", 20, 80),
 (2, "Arpy", "Female", 18, 66), (3, "Raj", "Male", 21, 90),
 (4, "Shima", "Female", 19, 91), (5, "Apurba", "Male", 20, 50),
 (6, "Swapnil", "Male", 23, 65), (7, "Rajesh", "Male", 19, 70)]
 schema = ["Id", "Name", "Gender", "Age", "Percentage"]
 # calling function to create dataframe
 df = create_df(spark, input_data, schema)
 df.show()

+---+--------+------+---+----------+
| Id|    Name|Gender|Age|Percentage|
+---+--------+------+---+----------+
|  1|Shivansh|  Male| 20|        80|
|  2|    Arpy|Female| 18|        66|
|  3|     Raj|  Male| 21|        90|
|  4|   Shima|Female| 19|        91|
|  5|  Apurba|  Male| 20|        50|
|  6| Swapnil|  Male| 23|        65|
|  7|  Rajesh|  Male| 19|        70|
+---+--------+------+---+----------+

In [ ]:
# subset or filter the dataframe by
# passing Multiple condition
df = df.filter("Gender == 'Male' and Percentage>70")
df.show()
# subset or filter the data with
# multiple condition
df = df.filter("Age>20 or Percentage>80")
df.show()

+---+--------+------+---+----------+
| Id|    Name|Gender|Age|Percentage|
+---+--------+------+---+----------+
|  1|Shivansh|  Male| 20|        80|
|  3|     Raj|  Male| 21|        90|
+---+--------+------+---+----------+

+---+----+------+---+----------+
| Id|Name|Gender|Age|Percentage|
+---+----+------+---+----------+
|  3| Raj|  Male| 21|        90|
+---+----+------+---+----------+

In [ ]:
# subset or filter the data with
# multiple condition
df = df.filter((df.Gender=='Male') | (df.Percentage>90))
df.show()
# subset or filter the dataframe by
# passing Multiple condition
df = df.filter((df.Gender=='Female') & (df.Age>=18))
df.show()

+---+----+------+---+----------+
| Id|Name|Gender|Age|Percentage|
+---+----+------+---+----------+
|  3| Raj|  Male| 21|        90|
+---+----+------+---+----------+

+---+----+------+---+----------+
| Id|Name|Gender|Age|Percentage|
+---+----+------+---+----------+
+---+----+------+---+----------+

In [ ]:
# importing module
import pyspark
from pyspark.sql import SparkSession
# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()
data = [["1", "Sourav", "IT", 45000], ["2", "Aditi", "IT", 30000], ["3", "Bobby", "business", 45000],
 ["4", "Rohit", "IT", 45000], ["5", "Shamim", "business", 120000],
 ["6", "Moni", "sales", 23000], ["7", "Borno", "sales", 34000],
 ["8", "Shreya", "business", 456798], ["9", "Kishor", "IT", 230000],
 ["10", "Ron", "business", 100000] ]
# specify column names
columns = ['ID', 'NAME', 'sector', 'salary']
dataframe = spark.createDataFrame(data, columns)
# display dataframe
dataframe.show()

+---+------+--------+------+
| ID|  NAME|  sector|salary|
+---+------+--------+------+
|  1|Sourav|      IT| 45000|
|  2| Aditi|      IT| 30000|
|  3| Bobby|business| 45000|
|  4| Rohit|      IT| 45000|
|  5|Shamim|business|120000|
|  6|  Moni|   sales| 23000|
|  7| Borno|   sales| 34000|
|  8|Shreya|business|456798|
|  9|Kishor|      IT|230000|
| 10|   Ron|business|100000|
+---+------+--------+------+

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('sparkdf').getOrCreate()
# list of employee data with 10 row values
data = [["1", "Sourav", "IT", 45000], ["2", "Aditi", "IT", 30000], ["3", "Bobby", "business", 45000],
 ["4", "Rohit", "IT", 45000], ["5", "Shamim", "business", 120000],
 ["6", "Moni", "sales", 23000], ["7", "Borno", "sales", 34000],
 ["8", "Shreya", "business", 456798], ["9", "Kishor", "IT", 230000],
 ["10", "Ron", "business", 100000] ]
# specify column names
columns = ['ID', 'NAME', 'sector', 'salary']
# creating a dataframe from the lists of data
dataframe = spark.createDataFrame(data, columns)
# display dataframe
dataframe.show()

+---+------+--------+------+
| ID|  NAME|  sector|salary|
+---+------+--------+------+
|  1|Sourav|      IT| 45000|
|  2| Aditi|      IT| 30000|
|  3| Bobby|business| 45000|
|  4| Rohit|      IT| 45000|
|  5|Shamim|business|120000|
|  6|  Moni|   sales| 23000|
|  7| Borno|   sales| 34000|
|  8|Shreya|business|456798|
|  9|Kishor|      IT|230000|
| 10|   Ron|business|100000|
+---+------+--------+------+

In [ ]:
dataframe.select('NAME').where(dataframe.ID>5).count()

5

Assignment 1