In [ ]:

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Install Spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.3/spark-3.0.3-bin-hadoop3.2.tgz

# Unzip the Spark file to the current folder
!tar xf spark-3.0.3-bin-hadoop3.2.tgz

# Install findspark
!pip install -q findspark

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop3.2"

In [ ]:
# Start a SparkSession
import findspark
findspark.init()

# Import SparkSession
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Test Spark
df = spark.createDataFrame([{"hello": "world"} for x in range(1000)])
df.show(3)

/content/spark-3.0.3-bin-hadoop3.2/python/pyspark/sql/session.py:381: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

In [ ]:
# Test Spark
df = spark.createDataFrame([{"Its": "my life"} for x in range(1000)])
df.show()

+-------+
|    Its|
+-------+
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
|my life|
+-------+
only showing top 20 rows

In [ ]:
df = spark.read.csv('/content/Datacamp_Ecommerce.csv',header=True,escape="\"")
df.show(5,0)
print(df.count())

+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                        |Quantity|InvoiceDate   |UnitPrice|CustomerID|Country       |
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER |6       |12/1/2010 8:26|2.55     |17850     |United Kingdom|
|536365   |71053    |WHITE METAL LANTERN                |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
|536365   |84406B   |CREAM CUPID HEARTS COAT HANGER     |8       |12/1/2010 8:26|2.75     |17850     |United Kingdom|
|536365   |84029G   |KNITTED UNION FLAG HOT WATER BOTTLE|6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
|536365   |84029E   |RED WOOLLY HOTTIE WHITE HEART.     |6       |12/1/2010 8:26|3.39     |17850     |United Kingdom|
+---------+---------+-----------------------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

474379

In [ ]:
my_list = [['a', 1, 2], ['b', 2, 3],['c', 3, 4]]
col_name = ['A', 'B', 'C']
spark.createDataFrame(my_list, col_name).show()
import pandas as pd
df=pd.DataFrame(my_list,columns= col_name)
print(df)

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+

   A  B  C
0  a  1  2
1  b  2  3
2  c  3  4

In [ ]:
import pandas as pd
# df = spark.createDataFrame(pandas_df.toPandas())
# Creating pandas dataframe first
l = [["2015-06-23", 5]
 ,["2016-07-20", 7]] #List with data elements
df = spark.createDataFrame(pd.DataFrame(l),['data_date','months_to_add'])
df.show()

/content/spark-3.0.3-bin-hadoop3.2/python/pyspark/sql/pandas/conversion.py:327: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

In [ ]:
import pandas as pd
# df = spark.createDataFrame(pandas_df.toPandas())
# Creating pandas dataframe first
#List with data elements
df = spark.createDataFrame(pd.DataFrame(my_list),(col_name))
df.show()

/content/spark-3.0.3-bin-hadoop3.2/python/pyspark/sql/pandas/conversion.py:327: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+

QA 3

In [ ]:
# Import spark libraries
from pyspark.sql import Row, DataFrame
from pyspark.sql.types import StringType, StructType, StructField, IntegerType
# create RDD to load into spark dataframe
l = [["2015-06-23", 5],["2016-07-20", 7]] #List with data elements
rdd1 = spark.sparkContext.parallelize(l)

In [ ]:
schema = StructType([ StructField("data_date", StringType(), True),
StructField("months_to_add", IntegerType(), True)]) # Col, Type, Nullable
df = spark.createDataFrame(rdd1, schema)
df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

In [ ]:
# Import spark libraries
from pyspark.sql import Row, DataFrame
from pyspark.sql.types import StringType, StructType, StructField, IntegerType
# create RDD to load into spark dataframe
l = [["2015-06-23", 5] , ["2016-07-20", 7]] #List with data elements
rdd1 = spark.sparkContext.parallelize(l)
row_rdd = rdd1.map(lambda x: Row(x[0], x[1]))
df = spark.createDataFrame(row_rdd, ['data_date', 'months_to_add'])
df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+