# My heading
lksdkfd
jnkjzdfzkfn

ajdgjag agdjagj jagjd kagbjksg kadkjakh

In [ ]:
print('bfsdfkbskj')

In [ ]:
print('hellow world')

weqweiuhi kjaifdab kjbadiba nbjabhdajbd kjbadkjbak

tdgdgd..ddye.ehjiet ekjtkoejtoeoejeotjeotj


1.   List item
2.   List item

In [ ]:
x = 10
print('jvgndfkjgdnfkjg')
x

In [ ]:
x = 10
y= "World"
print(f"Hello There {x} and {y}")

In [ ]:
print("Hello There" + y + "  " + str(x))

In [ ]:
"""
  sample Comments
  gkl;df;gjdfg kljkl
  kljfnnk
  jklsnfjknsdjknf
  fklsdjnfsdlfnklsfnl
"""

print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
"""
  sample Comments
  gkl;df;gjdfg kljkl
  kljfnnk
  jklsnfjknsdjknf
  fklsdjnfsdlfnklsfnl
"""
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")
print("hellow world")

We use print() frequently in any code snippet.
print() will help us to find any error in our $log$ file.

In [ ]:
cse_4_2 = ['fsdfsd', 'f', 1, 2, 3, 4]
print(cse_4_2)
print(type(cse_4_2))

In [ ]:
max(cse_4_2)

In [ ]:
len(cse_4_2)

In [ ]:
cse_4_2 = [1, 2, 3, 4, []]
print(cse_4_2)
print(type(cse_4_2))

In [ ]:
max(cse_4_2)

In [ ]:
sum(cse_4_2)

In [ ]:
cse_4_2 = [1, 2, 3, 4, 2.222]
print(min(cse_4_2))
print(max(cse_4_2))

In [ ]:
def my_func(a, b,c = 10):
  return a+b+c

my_func(10,10)

In [ ]:
(range(0,10,2))

In [ ]:
my_list = [1,2,3,4,5,100]

In [ ]:
list(range(len(my_list)))

In [ ]:
list(range(0,10))

In [ ]:
list(range(0,5, 2))

In [ ]:
list(range(0,5, 2))

In [ ]:
list(range(10,20, 5))

In [ ]:
list(range(3,10,2))

In [ ]:
list(range(3,19,3))

In [ ]:
print(list(range(2,10,2)))

In [ ]:
list(range(len(cse_4_2)))

In [ ]:
cse_4_2

In [ ]:
cse_4_2[1]

In [ ]:
cse_4_2 = [1, 2, 3, 4, 2.222]

In [ ]:
list(range(len(cse_4_2)))

In [ ]:
list(range(len(cse_4_2)))

In [ ]:
list(range(len(cse_4_2)))

In [ ]:
for x in range(len(cse_4_2)):
  print(cse_4_2[x])

In [ ]:
for x in cse_4_2:
  print(x)

In [ ]:
for i in range(len(cse_4_2)):
  cse_4_2[i] += 2
print(cse_4_2)

In [ ]:
for i in cse_4_2:
  print(i)

In [ ]:
list1 = [1, 2, 3, 0, 5, 6]
# list1 = [0,None,1]


# # any will return true if any of the sequence values are true
print(any(list1))

# # all will return true only if all values are true
print(all(list1))

In [ ]:
list1 = [1, 2, 3, 0, 5, 6]

# # min and max will return minimum and maximum values in a sequence
print("min: ", min(list1))
print("max: ", max(list1))
# #
# # Use sum() to sum up all of the values in a sequence
print("sum: ", sum(list1))

In [ ]:
# Iterating Over the Items of a List
L = ['Tony was chased', 'Bruce was angered', 'Steven was scared ']
# print each string in the list L
for x in L:
    print(x)
for i in range(len(L)):
    L[i] = L[i] +'x'
print(L)

In [ ]:
#@title 0, 1, 2
for i in range (len (L)):
    L[i] = L[i] + ' by zombies.'

for x in L:
    print(x)

In [ ]:
x = [1, 2, 3]
x.append([4, 5]) # [1,2,3,[4, 5]]
print(x)
x.append(6) # [1,2,3,[4, 5], 6]
print(x)
x.extend([8, 9])
print(x) # [1,2,3,[4, 5] ,6,  8 , 9]
x.append(5)  # [1,2,3,[4, 5] , 8 , 9, 5]
print(x)

In [ ]:
x = [1, 2, 3]
x.extend(8) # extend needs an iterable object

In [ ]:
x = [1, 2, 3]
x.extend((2,3,4)) # extend needs an iterable object
x

In [ ]:
# # define a list of days in English and French
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]
# # use regular interation over the days
for m in range(len(days)):
  print(days[m],m)

In [ ]:
days

In [ ]:
list(enumerate(['sdfsd','sfsf','aaaaa'], start = 50))

In [ ]:
list(enumerate(days, start = 10))

In [ ]:
list(enumerate(days, start = 100))

In [ ]:
list(enumerate(days, start = 10))

In [ ]:
x = (1,2,3,5,4,4,4)
x[0] = 99

In [ ]:
list(enumerate(days, start = 99))

In [ ]:
# using enumerate reduces code and provides a counter
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
print(list(enumerate(days, start = 10)))

In [ ]:
x = list(enumerate(days))
x

In [ ]:
# using enumerate reduces code and provides a counter
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

for x in enumerate(days):
    print(x[0] ,x[1])

In [ ]:
for i, x in enumerate(days):
    print(i, x)

In [ ]:
l1 = [1,2,3, 4, 5]
l2 = ['a','b','c']

x = list(zip(l1, l2, l1, l2, l1))
x

In [ ]:
x[1][2] = 5

In [ ]:
l1 = [1,2,3, 4, 5]
l2 = [5,5,5,3,4]
l= list(zip(l1, l2))

In [ ]:
# cannot edit
print(l[0])
print(type(l[0]))
l[0] = 1
print(l)

In [ ]:
x = l[1]
x

In [ ]:
x[0] = 4

In [ ]:
# # use zip to combine sequences
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer"]
daysGR = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]

for m in zip(days,daysFr,daysGR):
    print(m[0], m[1], m[2])

In [ ]:
list(zip(days, daysGR, daysFr))

In [ ]:
 list(enumerate(zip(days, daysGR, daysFr), start = 10))

In [ ]:
for i in list(enumerate(zip(days, daysGR, daysFr), start = 5)):
  print(i)

In [ ]:
for i, m in enumerate(zip(days, daysGR, daysFr), start=10):
  print(i, m)

In [ ]:
for x in enumerate(days):
    print(x[0], x[1])

In [ ]:
x= [2,2,2,2,2]
y = [1,2,2,5,5, 99]
list(enumerate(list(zip(x,y))))

In [ ]:
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer"]
for m in zip(days, daysFr):
    print(m, type(m))

In [ ]:
list(enumerate(zip(days, daysFr), start=10))

In [ ]:
'''
    Tuples are identical to lists, with the following exceptions:
        Tuples are immutable.
        Tuples are written with parentheses instead of square brackets.
'''
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer"]
for m in enumerate(zip(days, daysFr), start=10):
    print(m, type(m))

In [ ]:
days

In [ ]:
# use iter to create an iterator over a collection
i = iter(days)
print(next(i))  # Sun
print(next(i))  # Mon
print(next(i))  # Tue
print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i, 'finished'))

In [ ]:
i = iter(days)

while True:
  y = next(i,  'asasas')
  if y!= 'asasas':
    print(y)
  else:
    break

In [ ]:
j = iter(days)

for i in range(len(days)):
  print(next(j))

Demonstrate how to use set comprehensions

In [ ]:
ctemps = [5, 10, 12, 14, 10, 23, 41, 30, 12, 24, 12, 18, 29]
ftemps = []
for temp in ctemps:
  x = (temp * 9/5) + 32
  ftemps.append(x)
print(ftemps)

In [ ]:
ftemps = [(temp * 9/5) + 32 for temp in ctemps]
ftemps

In [ ]:
[(temp * 9/5) + 32 for temp in ctemps if temp%2==0 and temp<20]

In [ ]:
[2**i for i in range(100) ]

In [ ]:
ftemps = [(temp * 9/5) + 32 for temp in ctemps if temp%2==0]
ftemps

In [ ]:
ftemps = [(i, (temp * 9/5) + 32) for i,temp in enumerate(ctemps) if temp%2==0]
print(ftemps)

In [ ]:
x = [5,5,5,4,4,4]
[a*a for a in x]

In [ ]:
s = {1,2,3}
for element in s:
  print(element)

In [ ]:
l = [5,10,15,20]
l2 = [t*3 for t in l]
l2

In [ ]:
{1,2,3}
{'a':1, 'b':2}

In [ ]:
ctemps = [5, 10, 12, 14, 10, 23, 41, 30, 12, 24, 12, 18, 29]

# build a set of unique Fahrenheit temperatures
ftemps1 = [ (t * 9/5) + 32 for t in ctemps ]
ftemps2 = { (t * 9/5) + 32 for t in ctemps }

print(ftemps1, type(ftemps1)) # Did you think both are the same?
print(ftemps2, type(ftemps2))

In [ ]:
ftemps2[1]

In [ ]:
lst1 = list(range(1,101))
print(lst1)
lst2 = [item**2 for item in lst1]
print(lst2)

In [ ]:
for elem in ftemps2:
  print(elem)

#build a set from an input source
sTemp = "The quick brown fox jumped over the lazy dog"

In [ ]:

# build a set from an input source
sTemp = "The quick brown fox jumped over the lazy dogs"
chars1 = {c for c in sTemp if not c.isspace()}
chars = {c.upper() for c in sTemp if not c.isspace()}

print(len(chars1) )
print(chars1)
print(len(chars), type(chars))
print(chars)

# Lambda expression

* lambda arguments : expression
* anonymous functions; accept multiple arguments but expression should be one

In [ ]:
x = lambda a,b,c: a+b+c
x(1,2,3)

In [ ]:
new_lambda_test = lambda q, w, y, z : q + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

In [ ]:
new_lambda_test = lambda q, w, y, z : q*20 + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

In [ ]:
lambda_test = lambda a : a + 10
print(lambda_test(5))

new_lambda_test = lambda q, w, y, z : q + w + y + z + 10
print(new_lambda_test(20, 20, 20, 20))

In [ ]:
y = (1,2 ,3 ,4)
print(type(y))
print(y)
for i in y:
  print(i)

y[0] = 7

In [ ]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda abc: abc[1] , reverse  = True) # Look carefully..
print(pairs)

In [ ]:
mult3 = filter(lambda x: x % 3 == 0 and x<9,  [1, 2, 3, 4, 5, 6, 7, 8, 9] )
list(mult3)

In [ ]:
for i in mult3:
  print(i)

In [ ]:
mult3[1]

In [ ]:
mult3 = list(filter(lambda x: x % 3 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9]))
print(mult3)
print(type(mult3))

In [ ]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(45) #  lambda x: x + 45
print(f(3))

# Demonstrate how to use list comprehensions

In [ ]:
# define two lists of numbers
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odds =  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Derive a new list of numbers frm a given list
evenSquared = [e ** 2 for e in evens]
print(evenSquared)

In [ ]:
base = [5,10,15,20,25]
height = [5,4,5,5,4]

area = [0.5*b*h for b,h in zip(base, height)]
print(area)

The **map()** function executes a specified function for each item in a iterable. The item is sent to the function as a parameter.

In [ ]:
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odds =  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

a = list(filter(lambda e: e > 4 and e < 16, evens))
a

In [ ]:
list(map(lambda x: x*x, [1,2,3,4,5,6]))

In [ ]:
# # Perform a mapping and filter function on a list
evenSquared = map(lambda e: e**2, filter(lambda e: e > 4 and e < 16, evens))
print(evenSquared)
for i in evenSquared:
  print(i)

In [ ]:
# # Perform a mapping and filter function on a list
evenSquared = list(map(lambda e: e**2, filter(lambda e: e > 4 and e < 16, evens)))
print(evenSquared)

In [ ]:
evenSquared_new = [e ** 2 for e in evens if e > 4 and e < 16]
print(evenSquared_new)

In [ ]:
# Limit the items operated on with a predicate condition
oddSquared = [e ** 2 for e in odds if e > 3 and e < 17]
print(oddSquared)

In [ ]:
list(map(lambda x: x*x, [1,2,3,4,5]))

# Demonstrate the usage of Counter objects

In [ ]:
# A Counter is a container that keeps track of how many times equivalent values are added

from collections import Counter

# list of students in class 1
class1 = ["Bob", "James", "Chad", "Darcy", "Penny", "Hannah"
          "Kevin", "James", "Melanie", "Becky", "Steve", "Frank"]

# list of students in class 2
class2 = ["Bill", "Barry", "Cindy", "Debbie", "Frank",
          "Gabby", "Kelly", "James", "Joe", "Sam", "Tara", "Ziggy"]

# Create a Counter for class1 and class2
c1 = Counter(class1)
c2 = Counter(class2)
print(c1)
print(c2)
# How many students in class 1 named James?
print(c1["James"])

In [ ]:
# How many students are in class 1?
print(sum(c1.values()), "students in class 1")

# Combine the two classes
c1.update(class2)
print(sum(c1.values()), "students in class 1 and 2")

# What's the most common name in the two classes?
print(c1.most_common(3), "the most common name in the two classes") # 3 is indicating --- how many

# Separate the classes again
c1.subtract(class2)
print(c1.most_common(2))

# What's common between the two classes?
print((c1 & c2), "common between the two classes")

# Demonstrate the usage of defaultdict objects

A defaultdict works exactly like a normal dict, but it is initialized with a function (“default factory”) that takes no arguments and provides the default value for a nonexistent key.

A defaultdict will never raise a KeyError.

In [ ]:
c = { 'a': 10, 'b':20 }
c

In [ ]:
c['nmbmbnmbm']

In [ ]:
c['d'] = 50
c

In [ ]:
print(type(c))
print(c.items()) #prints keys and values
print(c.keys()) #prints keys
print(c.values()) #prints values

In [ ]:
c['a']

In [ ]:
c['fhfhfhf']

In [ ]:
dict = {'a':1,'b':2}
print(dict['ukn'])

In [ ]:
from collections import defaultdict

ice_cream = defaultdict(lambda: 'There is no such word')
ice_cream['Sarah'] = 'Chunky Monkey'
ice_cream['Abdul'] = 'Butter Pecan'
print(ice_cream['Abdul'])
print(ice_cream['gjgjgj'])

# Demonstrate how to use dictionary comprehensions

In [ ]:
# define a list of temperature values
ctemps = [0, 12, 34, 100]

# Use a comprehension to build a dictionary
tempDict = {t: (t * 9/5) + 32 for t in ctemps if t < 100}
print(tempDict)

print("\n")

print(tempDict[12]) # access individual element
print(tempDict[34])
print(tempDict.keys())

In [ ]:
width = [5,10,15,20,25,30]
height = [10,15,20,25,30]

area = [ (i,t[0]*t[1]) for i,t in enumerate(zip(width, height))]
area

In [ ]:
[i for i in range(1,1000) if '3' in str(i)]

In [ ]:
[i for i in range(1, 1001) if (str(i)).count('3') > 0]